main {
  min-height: 80vh;
  background-color: #f8b1b1;
}
.nav-container {
  background-image: linear-gradient(90deg, #b84949, #ff8989);
}

.footer-container {
  background-image: linear-gradient(90deg, #b84949, #ff8989);
}

h3 {
  padding: 1rem 0;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h1 {
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}
